html, body {
  #title {
    background-image: url(./img/guitar-bg.jpg);
    // background-image: url("https://wallpapercave.com/wp/Ck4TcL0.jpg");
    background-color: #000;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    color: #fff;
    height: 15vh;
  }
}
